# Data science Specialisatie Opdracht
#### Uitgevoerd door Groep 4 bestaande uit: Ramon Vermeulen, Ruud van Rooijen, Nico Tammer en Thomas Lem
Voor de opdracht hebben wij gekozen om niet mee te doen aan de NEC, maar een dataset van Kaggle te pakken. Deze is als volgt: https://www.kaggle.com/c/digit-recognizer.
Met deze dataset willen wij 3 manieren van machinelearning vergelijken, en bepalen welke methode hiervoor het beste is met de kennis die wij gekregen hebben tijdens het vak van Data Science.

De dataset waar wij mee aan de slag gaan is het MNIST ("Modified National Institute of Standards and Technology") dataset. De dataset betreft handgeschreven cijfers van 0-9 opgeslagen in 28x28 plaatjes. In de dataset is dit opgeslagen door per rij 784 kolommen te hebben waar per pixel de waarde opgeslagen word. Op deze manier kunnen wij in Python het plaate reconstrueren en analyseren, of puur op de data analyseren. 

Voor het vergelijken van verschillende methode hebben wij gekozen voor: k-Means, k-Nearest Neighbor en Tensor Flow. 

#### Dit notebook betreft k-Means

## Imports

In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
%matplotlib inline

#### Om te zorgen dat de data bruikbaar is voor wat wij willen bereiken zullen wij deze eerst in moeten laden, en bewerken.

In [2]:
test = pd.read_csv('./test.csv')
train = pd.read_csv('./train.csv')

#### We selecteren nu de data die wij willen gebruiken en halen de labels hier van af. We willen dat k-Means deze zelf verzint.

In [3]:
train = train[:5000]
train.cluster = train.drop('label', 1)

#### We vragen k-Means om 10 clusters te vinden (0-9) en laten hem trainen met onze train data

In [4]:
kmnummers = KMeans(n_clusters = 10, random_state = 0, init='k-means++').fit(train.cluster)

#### Hier zien we helaas niet veel in omdat het over zo ongelovelijk veel data gaat

In [5]:
kmnummers.cluster_centers_

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

#### Dan maar de clusters toevoegen aan een tabel zodat we deze kunnen printen.

In [6]:
train['cluster'] = kmnummers.labels_
traincluster = train.sort_values(by='cluster')

#### Helaas zien we hier dat het hij het helemaal niet goed heeft gedaan. Dit heeft er waarschijnlijk mee te maken dat k-Means heel gevoelig is voor outliers.

In [7]:
dataz = pd.DataFrame(columns=['label', 'cluster'])
dataz.label = traincluster['label']
dataz.cluster = traincluster['cluster']

dataz

      label  cluster
1884      3        0
1271      3        0
1270      5        0
4052      8        0
4046      5        0
4040      5        0
2927      8        0
2930      8        0
2931      6        0
2932      3        0
2935      8        0
2938      8        0
2941      8        0
4018      3        0
569       5        0
2950      8        0
4011      5        0
2952      8        0
4007      8        0
4003      5        0
1272      8        0
1249      8        0
4064      6        0
2918      3        0
519       8        0
4106      6        0
4101      8        0
4100      5        0
4099      8        0
525       5        0
...     ...      ...
4532      7        9
1338      7        9
4534      7        9
274       7        9
2826      7        9
2252      7        9
1646      9        9
283       9        9
2799      7        9
4513      9        9
2778      7        9
656       9        9
3867      9        9
1366      9        9
1637      7        9
1364      9        9
3860      7        9
1363      9        9
4417      9        9
660       9        9
293       7        9
2794      7        9
2281      7        9
4504      7        9
4507      7        9
2279      9        9
668       7        9
2797      9        9
2789      7        9
1668      4        9

[5000 rows x 2 columns]

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

clusters = dataz['cluster'].drop_duplicates(take_last=True)
waardes = dataz['label']


dataz.plot(kind='bar')